<!--<div class="box box-primary direct-chat direct-chat-primary">-->
    <!--<div class="box-header with-border">-->
        <!--<h3 class="box-title">聊天记录</h3>-->
        <!--<div class="box-tools pull-right">-->
            <!--<span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>-->
            <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
            <!--<button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>-->
            <!--<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
    <!--<div class="box-body">-->
        <!--&lt;!&ndash; Conversations are loaded here &ndash;&gt;-->
        <!--<div class="direct-chat-messages">-->
            <!--&lt;!&ndash; Message. Default to the left &ndash;&gt;-->
            <!--<div class="direct-chat-msg">-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-name pull-left">Alexander Pierce</span>-->
                    <!--<span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>-->
                <!--</div>&lt;!&ndash; /.direct-chat-info &ndash;&gt;-->
                <!--<img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="message user image">&lt;!&ndash; /.direct-chat-img &ndash;&gt;-->
                <!--<div class="direct-chat-text">-->
                    <!--Is this template really for free? That's unbelievable!-->
                <!--</div>&lt;!&ndash; /.direct-chat-text &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.direct-chat-msg &ndash;&gt;-->

            <!--&lt;!&ndash; Message to the right &ndash;&gt;-->
            <!--<div class="direct-chat-msg right">-->
                <!--<div class="direct-chat-info clearfix">-->
                    <!--<span class="direct-chat-name pull-right">Sarah Bullock</span>-->
                    <!--<span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>-->
                <!--</div>&lt;!&ndash; /.direct-chat-info &ndash;&gt;-->
                <!--<img class="direct-chat-img" src="../dist/img/user3-128x128.jpg" alt="message user image">&lt;!&ndash; /.direct-chat-img &ndash;&gt;-->
                <!--<div class="direct-chat-text">-->
                    <!--You better believe it!-->
                <!--</div>&lt;!&ndash; /.direct-chat-text &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.direct-chat-msg &ndash;&gt;-->
        <!--</div>&lt;!&ndash;/.direct-chat-messages&ndash;&gt;-->

        <!--&lt;!&ndash; Contacts are loaded here &ndash;&gt;-->
        <!--<div class="direct-chat-contacts">-->
            <!--<ul class="contacts-list">-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<img class="contacts-list-img" src="../dist/img/user1-128x128.jpg">-->
                        <!--<div class="contacts-list-info">-->
                            <!--<span class="contacts-list-name">-->
                              <!--Count Dracula-->
                              <!--<small class="contacts-list-date pull-right">2/28/2015</small>-->
                            <!--</span>-->
                            <!--<span class="contacts-list-msg">How have you been? I was...</span>-->
                        <!--</div>&lt;!&ndash; /.contacts-list-info &ndash;&gt;-->
                    <!--</a>-->
                <!--</li>&lt;!&ndash; End Contact Item &ndash;&gt;-->
            <!--</ul>&lt;!&ndash; /.contatcts-list &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.direct-chat-pane &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
    <!--<div class="box-footer">-->
        <!--<form action="#" method="post" ng-controller="MessageCreatorCtrl">-->
            <!--<div class="input-group">-->
                <!--<input type="text" name="message" placeholder="Type Message ..." class="form-control">-->
                      <!--<span class="input-group-btn">-->
                        <!--<button type="button" ng-model="newMessage" ctrl-enter-break-line="createMessage()" class="btn btn-primary btn-flat">Send</button>-->
                      <!--</span>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>&lt;!&ndash; /.box-footer&ndash;&gt;-->
<!--</div>-->


<!--在线客户-->
<div class="col-md-3">
    <div class="panel panel-default user-list">
        <div class="panel-heading user-list-header">在线客户</div>
        <div class="panel-body user-list-content">
            <div class="list-group users">
                <div class="list-group-item user" ng-repeat="user in online_users">
                    <img ng-src="{{user.avatarUrl}}" title="{{user.name}}" class="img-rounded"/>{{user.name}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--离线客户-->
<div class="col-md-3">
    <div class="panel panel-default user-list">
        <div class="panel-heading user-list-header">离线客户</div>
        <div class="panel-body user-list-content">
            <div class="list-group users">
                <div class="list-group-item user" ng-repeat="user in offline_users">
                    <img ng-src="{{user.avatarUrl}}" title="{{user.name}}" class="img-rounded"/>{{user.name}}
                </div>
            </div>
        </div>
    </div>
</div>